<app-header></app-header>
<app-sidebar></app-sidebar>

<section class="p-5 main-wrapper">
    <div class="d-flex">
        <h1 class="col-6 Candidates">Candidates</h1>
        <div class="col-6 text-end">
            <button class="btn delete-btn me-3" type="button" >Delete</button>
            <button class="btn add-btn me-3" type="button" >New Candidate <img src="/assets/images/add.svg" alt=""></button>
        </div>
    </div>
    <div class="data-table">
        <table class="w-100">
            <thead class="p-5">
              <tr>
                <th class="text-center"><mat-checkbox class="example-margin " color="primary"></mat-checkbox></th>
                <th scope="col">  NAME</th>
                <th scope="col">ID NUMBER</th>
                <th scope="col">LOCATION</th>
                <th scope="col">EMAIL ADDRESS</th>
                <th scope="col">MOBILE NUMBER</th>
                <th scope="col">DAYS ACTIVE</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dataTable.length == 0">
                  <td class="text-center"><ngx-skeleton-loader   appearance="line" count="15" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader count="15"  appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader   count="15" appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader  count="15" appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader count="15" appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader count="15" appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader count="15" appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
                  <td><ngx-skeleton-loader count="15" appearance="line" animation="pulse" ></ngx-skeleton-loader></td>
              </tr>
              <tr *ngFor="let item of dataTable">
                <td class="text-center"><mat-checkbox class="example-margin " color="primary"></mat-checkbox></td>
                <td >{{item.name}}</td>
                <td >{{item.idNumber}}</td>
                <td >{{item.location}}</td>
                <td >{{item.email}}</td>
                <td >{{item.mobile}}</td>
                <td >{{item.active}}</td>
                <td ><i class="fa fa-ellipsis-h"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="data-table-paginator ps-5">
        <span class="Items-per-page-15">
            Items per page:   15
        </span>
        <span class="mx-3">
            <img src="assets/images/icon-phone.svg" alt="">
        </span>
        <span class="---15-of-233">
            1 - 15 of 233
        </span>
        <span class="ms-3">
            <i class="fa fa-chevron-left mx-3" style="font-size: 14px;" type="button" disabled></i>
            <i class="fa fa-chevron-right mx-3" style="font-size: 14px;"></i>
        </span>
    </div>
</section>